.testmonials__container{
    width: 40%;
}
.client__avatar{
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    border: 0.4rem solid var(--color-primary-variant);
    margin: 0 auto 1rem;
}
.testmonial{
    background-color: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    margin-bottom: 2rem;
}
.testmonial h5{
    color: var(--color-primary);
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.swiper-pagination-click .swiper-pagination-bullet-active{
    background-color: var(--color-primary);
}

#testmonials small{
    font-size: 1.6rem;
    font-weight: 100;
}


/*================================= MEDIA QUERIES (MEDIUM DIVACES) ==============================*/
@media screen and (max-width:1024px) {
    .container{
        width:60%;
    }
}


/*================================= MEDIA QUERIES (SMALL DIVACES) ==============================*/
@media screen and (max-width:600px) {
    .container{
        width: var(--container-width-ms);
    }

    
}